.navbar--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-product--icon {
  cursor: pointer;

  @media screen and (min-width: 992px) {
    margin-left: 15px;
  }
}

.navbar-product--icon-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-product--icon-item {
  color: #088972;
  display: inline-block;
  position: relative;
}

.navbar-product--icon-value {
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}
